<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!! <%= @issue.reported_by.email %></h1>
    <div>Your issue has been resolved</div>
  </body>
</html>