<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Unlock account</h1>
    <div><%= @user.email %></div>
    <div>This user requested access to application</div>
  </body>
</html>