/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

html, body {
  margin: 0;
  height: 100%;
  background-color: #212121;
  & > div:last-of-type {
    height: 100%;
  };
  overflow-x: hidden;
  color: white;
}

.alert {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 35%;
  right: 35%;
  text-align: center;
}

.irs-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.irs-card {
  padding: 50px;
  background-color:#474747;
  border-radius: 10%;
}

.irs-action {
  padding-top: 15px;
  padding-bottom: 10px;
}

